<div class="dashboard">
    <div class="header row">
        <div class="col-4 title-container">
            <h3 class="title">Student Dashboard</h3>
        </div>
        <div class="col-6">

        </div>
        <div class="col-2 logout-button-container">
            <button class="logout-button">Logout</button>
        </div>
        <div>
        </div>
    </div>

    <div class="search-container row">
        <div class="search col-3">
            <div class="row">
                <input type="text" class="search-input col-6" placeholder="Search Ticket ID...">
                <div class="search-button-container col-6">
                    <img src="../../../assets/icons/serach_icon.png" width="20px">
                    <button class="search-button">
                        Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container row">
        <table class="col-12">
            <thead class="table-header">
                <tr>
                    <th>S.No</th>
                    <th>Ticket ID</th>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    <td>1</td>
                    <td>12345</td>
                    <td>101</td>
                    <td>Rajesh</td>
                    <td>23/2/2024</td>
                    <td>Open</td>
                    <td>
                        <button class="view-button btn btn-primary">Edit</button>
                        <button class="view-button btn btn-danger">Delete</button>
                    </td>
            </tbody>
        </table>
    </div>
</div>