.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .form{
        width: 400px;
        height: 30px;
        padding-left: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.login-btn{
    width: 150px;
    height: 30px;
    background-color: #0975de;
    color: white;
    border: 1px solid;
    border-radius: 7px;
}